@import '~antd/dist/antd.css';
.App {
 /* text-align: center; */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-empty-normal {
  margin: 10px;
}
.header_div ul{
	padding:0 50px;
}
.site-layout-content {
  min-height: 100%;
  margin-top: 20px;
}
.white_bg{
	background: white;
}
.control_item_wrap{
  /* height: 280px; */
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-card-head-title{
	font-weight: bold;
}
.logo{
	width: 80px;
	height: 40px;
}
.codetable{
	width:100%;
}
.codetable tr{
	height: 40px;
	line-height: 40px;
}
.codetable .tdname{
	width: 100px;
}
.code_tips_p{
	margin: 0;
}
.row_right_btn{
	text-align: right;
}
.row_right_btn .ant-btn{
	margin-right: 20px;
}
.row_right_btn .ant-btn:last-child{
	margin-right: 0;
}
.blue_info{
	color: #faad14;
	font-size: 16px;
	margin-right: 10px;
	vertical-align: middle;
}
.shelf_list_bg{
  background: #67c23a;
  margin-top: 20px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 2px;
} 
.shelf_list_bg .ant-list-item-meta-title{
  color: white;
}
.shelf_state{
  margin-right: 40px;
}
.shelf_unbind{
  cursor: pointer;
}
.control_operate{
  margin-top: 16px;
}
.control_svg_right svg{
  font-size: 28px;
  cursor: pointer;
}
.control_operate .ant-card-body{
  padding: 0;
}
/* 料架页面 */
.ant-tabs {
	padding: 0 20px 20px 20px;
}
.border_col{
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 20px;
  height: 360px;
}

